<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app" ng-controller="RouterController as Router" ng-init="Router.checkSession(true)">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="taskmanager">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Software academico de gerenciamento de tarefas e organização pessoal desenvolvido por Diego Lamarão, estudante de Análise e Desenvolvimento de Sistemas no Instituto INFNET">
  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />
  <!-- STYLES -->
  <link rel="stylesheet" href="../style/bootstrap4.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <!-- STYLES -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- SCRIPTS -->
  <script src="../Scripts/jquery3.3.1.js"></script>
  <script src="../Scripts/tether.js"></script>
  <script src="../Scripts/bootstrap.min.js"></script>
  <script src="../Scripts/angular.min.js"></script>
  <script src="../Scripts/script.js"></script>
  <!-- SCRIPTS -->
  <title>TaskManager - Cadastrar Categorias</title>
</head>

<body ng-controller="RouterController as Router" ng-init="Router.checkSession(true)">

  <div id="overlay">
    <div class="loader"></div>
  </div>

  <div id="wrapper" ng-controller="UserController as User">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="taskmanager" href="#">
            <span class="fa fa-edit manager-logo"></span>
            <span class="task-logo">Task</span>
            <span class="manager-logo">Manager</span>
          </a>
        </li>
        <li ng-click="Router.HomeIndex()">
          <a class="side-bar-item" href="#">
            <span class="fa fa-tasks"></span> Controle de Tarefas</a>
        </li>
        <li ng-click="Router.TaskIndex()">
          <a class="side-bar-item" href="#">
            <span class="fa fa-plus"></span> Cadastrar Tarefa</a>
        </li>
        <li ng-click="Router.CategoryIndex()">
          <a class="side-bar-item" href="#">
            <span class="fa fa-plus"></span> Cadastrar Categoria</a>
        </li>
        <li ng-click="Router.exit()">
          <a class="side-bar-item" href="#">
            <span class="fa fa-window-close-o"></span> Sair</a>
        </li>
      </ul>
    </div>

    <div id="page-content-wrapper" data-ng-controller="CategoryController as Cats">

      <div class="pos-f-t">
        <nav class="navbar-inverse bg-inverse">
          <div class="container container-fluid">
            <button href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
              <span class="fa fa-bars"></span>
            </button>
            <button class="btn btn-info float-right">
              Bem Vindo(a) {{User.name}}
              <span class="fa fa-chevron-down"></span>
            </button>
            <div class="float-right img-profile">
              <img src="{{User.foto}}" />
            </div>
          </div>
        </nav>
      </div>

      <div class="container" ng-init="catList = Cats.categorias">
        <h2>GERENCIAR CATEGORIAS</h2>
        <hr>
        <form class="form-inline" ng-init="Cats.verify(novaCategoria, catList, true)">

          <input id="user-input" type="text" class="form-control col-sm-4 mb-2 mb-sm-0" id="inlineFormInput" placeholder="Forneça um nome para a nova categoria..."
            data-ng-model="novaCategoria" ng-change="Cats.verify(novaCategoria, catList, false)">

          <button id="button-status" class="btn btn-info col-sm-8 mb-2 mb-sm-0">
            <span class="fa fa-info-circle"> Cadastre aqui uma nova Categoria</span>
          </button>

          <button id="button-submit" class="d-none" ng-click="Cats.addCategoria(novaCategoria, catList, User.id); Cats.eraseInput();
                    novaCategoria = ''">
            <span class="fa fa-plus-circle"> Cadastrar</span>
          </button>

        </form>

        <table class="table table-inverse">
          <thead>
            <tr>
              <th>
                <span class="fa fa-list-alt"></span> Categorias Cadastradas
              </th>
              <th>
                <span class="fa fa-trash"></span> Deletar Categoria
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in catList | filter:novaCategoria">
              <td>{{ value.nome }}</td>
              <td>
                <button class="btn btn-danger" ng-click="Cats.removeCategoria(catList, key, value.id);
                                Cats.eraseInput(); novaCategoria = '';Cats.verify('', '', true)">
                  <span class="fa fa-remove"></span> Deletar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button id="status-remove" class="d-none"></button>
      </div>
    </div>
  </div>
</body>

</html>