<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- STYLES -->
  <link rel="stylesheet" href="../style/bootstrap4.css">
  <link rel="stylesheet" href="../style/fontawesome-all.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <!-- STYLES -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- SCRIPTS -->
  <script src="../Scripts/jquery3.3.1.js"></script>
  <script src="../Scripts/tether.js"></script>
  <script src="../Scripts/bootstrap.min.js"></script>
  <script src="../Scripts/angular.min.js"></script>
  <script src="../Scripts/chartist.js"></script>
  <script src="../Scripts/script.js"></script>
  <!-- SCRIPTS -->
  <title>TaskManager - Cadastrar Categorias</title>
</head>

<body data-ng-app="app">

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="taskmanager" href="../index.html">
            <span class="fa fa-edit manager-logo"></span>
            <span class="task-logo">Task</span>
            <span class="manager-logo">Manager</span>
          </a>
        </li>
        <li>
          <a class="side-bar-item" href="../index.html">
            <span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a class="side-bar-item" href="HomeIndex.html">
            <span class="fa fa-tasks"></span> Controle de Tarefas</a>
        </li>
        <li>
          <a class="side-bar-item" href="TaskIndex.html">
            <span class="fa fa-plus"></span> Cadastrar Tarefa</a>
        </li>
      </ul>
    </div>

    <div id="page-content-wrapper" data-ng-controller="CategoryController as Cats">

      <div class="pos-f-t">
        <nav class="navbar-inverse bg-inverse">
          <div class="container container-fluid">
            <button href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
              <span class="fa fa-bars"></span>
            </button>
          </div>
        </nav>
      </div>

      <div class="container" ng-init="catList = Cats.categorias">
        <h2>GERENCIAR CATEGORIAS</h2>
        <hr>
        <form class="form-inline" ng-init="Cats.verify(novaCategoria, catList, true)">

          <input id="user-input" type="text" class="form-control col-sm-4 mb-2 mb-sm-0" id="inlineFormInput" placeholder="Forneça um nome para a nova categoria..."
            data-ng-model="novaCategoria" ng-change="Cats.verify(novaCategoria, catList, false)">

          <button id="button-status" class="btn btn-info col-sm-8 mb-2 mb-sm-0">
            <span class="fa fa-info-circle"> Cadastre aqui uma nova Categoria</span>
          </button>

          <button id="button-submit" class="d-none" ng-click="Cats.addCategoria(novaCategoria, catList); Cats.eraseInput();
                    novaCategoria = ''">
            <span class="fa fa-plus-circle"> Cadastrar</span>
          </button>

        </form>

        <table class="table table-inverse">
          <thead>
            <tr>
              <th>
                <span class="fa fa-list-alt"></span> Categorias Cadastradas
              </th>
              <th>
                <span class="fa fa-trash"></span> Deletar Categoria
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in catList | filter:novaCategoria">
              <td>{{ value.nome }}</td>
              <td>
                <button class="btn btn-danger" ng-click="Cats.removeCategoria(catList, key);
                                Cats.eraseInput(); novaCategoria = '';Cats.verify('', '', true)">
                  <span class="fa fa-remove"></span> Deletar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button id="status-remove" class="d-none"></button>
      </div>
    </div>
  </div>
</body>

</html>